body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    }
header {
    background-color: #4e50e0;
    color: white;
    padding: 20px 0;
    text-align: center;
}
header img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}
header h1 {
    display: inline;
    margin-left: 10px;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section img {
    max-width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
footer {
    background-color: #4e50e0;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}